/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  :root {
    --primary-clr1: hsl(1, 90%, 64%);
    --primary-clr2: hsl(219, 85%, 26%);

    --white-clr: hsl(0, 0%, 100%);
    --light-greyish-blue-clr: hsl(210, 60%, 98%);
    --grey-bluish-clr1: hsl(211, 68%, 94%);
    --grey-bluish-clr2: hsl(205, 33%, 90%);
    --grey-blue-clr: hsl(219, 14%, 63%);
    --dark-grey-bluish: hsl(219, 12%, 42%);
    --dark-bluish-clr: hsl(224, 21%, 14%); 
    
    --font-weight1: 500;
    --font-weight2: 800;
  }

  /* utility classes */
  .d-flex {
    display: flex;
    align-items: center;
  }

  .d-column-flex {
    display: flex;
    flex-direction: column;
  }

  img {
    max-width: 4rem;
  }

  /* main classes */

  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    color: var(--dark-grey-bluish);
    font-weight: var(--font-weight1);
    display: flex;
    padding: 1rem;
  }

  .section_heading_block{
    justify-content: space-between;
  }

  .heading_title {
    color: var(--dark-bluish-clr);
    font-weight: var(--font-weight2);
  }

  .heading_count {
    padding: 0 0.5rem;
    background-color: var(--primary-clr2);
    color: var(--white-clr);
    border-radius: 0.5rem;
    font-weight: var(--font-weight1);
  }

  .section_content_block {
    gap: 1rem;
  }

  .notify {
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }

  .unread {
    background-color: var(--light-greyish-blue-clr);
  }

  .message_content {
    padding: 1rem;
    border: 1px solid var(--grey-bluish-clr2);
    max-width: 500px;
    border-radius: 0.5rem;
    align-self:flex-end;
}

.message_content:hover {
    background-color: var(--light-greyish-blue-clr);
    cursor: pointer;
}

  .chess_block {
    justify-content: space-between;
  }

  .notification_title {
    color: var(--dark-bluish-clr);
    font-weight: var(--font-weight2);
  }

  .notification_title:hover, .post_title:hover {
    color: var(--primary-clr2);
    cursor: pointer;
  }

  .post_title {
    color: var(--dark-grey-bluish);
    font-weight: var(--font-weight2);
  }

  .unread_notify::after {
    content: ' ';
    display: inline-block;
    height: .65em;
    width: .65em;
    background: var(--primary-clr1);
    border-radius: 50%;
    margin: 0 0.2rem;
  }

  @media screen and (min-width: 600px){
    body {
        max-width: 650px;
        justify-content: center;
        margin: 0 auto;
        align-items: center;
        border-radius: 0.5rem;
    }

    section {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
        box-shadow: 0px 2px 10px -3px var(--grey-blue-clr);
      }
  }
